@model IEnumerable<Sisgim.Models.PRESTAMO>

@{
    ViewBag.Title = "Préstamo de Instrumentos";
}

<h2>Préstamo de Instrumentos</h2>

<p>
    @Html.ActionLink("Ingresar préstamo", "Create")
    <br />
    @using (Html.BeginForm())
    {
        @Html.Label("Buscar por nombre alumno: ", htmlAttributes: new { @class = "control-label" })
        @Html.Editor("loanName", new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessage("loanName", "", new { @class = "text-danger" })
        <br />
        <input type="submit" value="Buscar" class="btn btn-default" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAHORAPRESTAMO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREALUMNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURSOALUMNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREPROFESOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSTRUMENTOMUSICAL.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAHORADEVOLUCION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAHORAPRESTAMO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREALUMNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CURSOALUMNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREPROFESOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSTRUMENTOMUSICAL.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAHORADEVOLUCION)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Devolver", "Return", new { id = item.ID })
            
        </td>
    </tr>
}

</table>
<div class="form-actions no-color">
    @Html.ActionLink("Volver a la lista", "Index")
</div>
